<!DOCTYPE html>
<html>
	<head>
 		
 		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

 		<link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/animate.css">

	  <meta charset="utf-8">
	  <title>TicTacToe</title>
	</head>
<body>
	
		<h1>Tic Tac Toe</h1>

			<p id = "p1">
			X Starts First!
			</p>

			<input type="button" value="New Game!" id="reset"></input>

			<table>
				<tbody>
					<tr class="row">
						<td id="b1">
						</td>
						<td id="b2">
						</td>
						<td id="b3">
						</td>
					</tr>

					<tr class="row">
						<td id="b4">
						</td>
						<td id="b5">
						</td>
						<td id="b6">
						</td>
					</tr>
					<tr class="row">
						<td id="b7">
						</td>
						<td id="b8">
						</td>
						<td id="b9">
						</td>
					</tr>
				</tbody>
			</table>
			
			

	
		<script src="/scripts/script.js"></script>
</body>
</html>





